@model BlogWebApp.ViewModels.ResetPasword
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container-fluid">
    <a asp-controller="User" asp-action="Index" class="btn btn-primary rounded-3 mb-1 ">Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Password Rest</h4>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            
            <form asp-controller="User" asp-action="ResetPassword" asp-area="Admin" method="post">
                <div class="mb-2">
                    <label>User Name</label>
                    <input type="text" asp-for="UserName" class="form-control" disabled />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>New Password</label>
                    <input type="password" asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
               
              
                
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary rounded-3">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>